body{
margin:0;
font-family:Poppins,sans-serif;
background:#fff5f8;
}

header{
background:#ff4d79;
color:white;
padding:20px;
}

.controls{
display:flex;
gap:10px;
flex-wrap:wrap;
margin-top:10px;
}

input,select{
padding:10px;
border-radius:6px;
border:none;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.card{
background:white;
border-radius:12px;
overflow:hidden;
transition:.4s;
box-shadow:0 6px 15px rgba(0,0,0,0.15);
}

.card:hover{
transform:translateY(-8px);
}

.card img{
width:100%;
height:300px;
object-fit:cover;
}

.info{
padding:15px;
}

.price{
color:#ff4d79;
font-weight:bold;
}

button{
background:#ff4d79;
color:white;
border:none;
padding:10px;
margin-top:10px;
cursor:pointer;
border-radius:6px;
}

.wishlistBtn{
background:black;
margin-left:5px;
}

.cart{
position:fixed;
bottom:20px;
right:20px;
background:#ff4d79;
color:white;
padding:15px;
border-radius:10px;
cursor:pointer;
}

.notification{
position:fixed;
top:20px;
right:20px;
background:#ff4d79;
color:white;
padding:12px 20px;
border-radius:8px;
opacity:0;
transition:.4s;
}

.cartPopup{
position:fixed;
right:-400px;
top:0;
width:350px;
height:100%;
background:white;
box-shadow:-5px 0 20px rgba(0,0,0,0.2);
padding:20px;
overflow:auto;
transition:0.4s;
z-index:999;
}

.cartPopup.active{
right:0;
}

.cartItem{
border-bottom:1px solid #ddd;
padding:10px 0;
}

